# Segmenting and Clustering Neighborhoods in Toronto Sebastián Carmona. Pt 1
For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.

1. Start by creating a new Notebook for this assignment.
2. Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe

## Scraping Wikipedia table

### Importing necessary libraries for the project

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

Converting content of Postal Code table as dataframe

In [2]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Clean dataframe and remove Boroughs that are 'Not assigned'

In [3]:
canada_df = df.drop(df[(df['Borough'] == 'Not assigned')].index)
canada_df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [4]:
i = 0
for i in range(0,canada_df.shape[0]):
    if canada_df.iloc[i][2] == 'Not assigned':
        canada_df.iloc[i][2] = toronto.iloc[i][1]
        i = i+1

canada_df = canada_df.groupby(['Postal Code','Borough'])['Neighbourhood'].apply(', '.join).reset_index()
canada_df

,Postal Code,Borough,Neighbourhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,Etobicoke,"Northwest, West Humber - Clairville"

In [5]:
def neighbourhood_list(grouped):    
    return ', '.join(sorted(grouped['Neighbourhood'].tolist()))
                    
df_1 = canada_df.groupby(['Postal Code', 'Borough'])
df_2 = df_1.apply(neighbourhood_list).reset_index(name='Neighbourhood')
df_2.describe()

       Postal Code     Borough Neighbourhood
count          103         103           103
unique         103          10            99
top            M4G  North York     Downsview
freq             1          24             4

In [6]:
print(df_2.shape)
df_2

(103, 3)

,Postal Code,Borough,Neighbourhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,Etobicoke,"Northwest, West Humber - Clairville"

In [7]:
df_2.to_csv('toronto_1.csv', index=False)